<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=org.apache.maven.archetypes"/>
        <listEntry value="archetypeArtifactId=maven-archetype-quickstart"/>
        <listEntry value="archetypeVersion=1.4"/>
        <listEntry value="groupId=Test_Automation"/>
        <listEntry value="artifactId=StandardType"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=Test_Automation.StandardType"/>
        <listEntry value="outputDirectory=/Users/manaschandra/Desktop/testproject"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="/var/folders/st/yr4jbf4d4zn5s2dz9w8m2vhh0000gq/T/m2e-archetypeGenerator7157862974947831188"/>
</launchConfiguration>
